
.finance-navbar3 {
    background: #d52b1e;
    background: -moz-linear-gradient(top, #d52b1e 50%, #cc291c 50%) !important;
    background: -webkit-linear-gradient(top, #d52b1e 50%, #cc291c 50%) !important;
    background: linear-gradient(to bottom, #d52b1e 50%, #cc291c 50%) !important;
}

.finance-navbar3#main-navigation-wrapper .nav > li:before {
    background: #fffdfd;
}

.finance-navbar3#main-navigation-wrapper .nav > li > a {
    color: #fffdfd;
}

.finance-navbar3#main-navigation-wrapper .nav > li:after {
    background: #fffdfd;
}

.header .header-right-info ul li .single-header-right-info .icon-box i {
    color: #d52b1e;
}

#minimal-bootstrap-carousel {
    height: 100vh;
}

.style-home-page3 #minimal-bootstrap-carousel .carousel-inner .item {
    min-height: 100vh;
}

.thm-button {
    background: #d52b1e;;
}

.thm-button.inverse.white, .thm-button:hover {
    background: #ffffff;
}

.finance-navbar3#main-navigation-wrapper .nav > li:before {
    left: -2px;
}

.finance-navbar3#main-navigation-wrapper .nav > li:after {
    right: -4px;
    background: #a10b08;
}

ul.dropdown-submenu3 a {
    color: #000000 !important;
}

.dropdown-submenu3 a:hover {
    color: #fff !important;
}

.finance-navbar3 {
    left: calc(50% - 375px);
    right: calc(50% - 375px);
}

.sec-title .decor-line {
    background: #cc291c;
}

.service-page3 {
    min-height: 100%;
}

.statics ul li p {
    font-weight: bold;
    color: #d52b1e;
}

.single-project-item:hover .this-infos {
    background: rgba(213, 43, 30, 0.7);
}

.footer-contacts2 h2 strong {
    color: #e94033;
}

.request-call-bg-green .request-call-form .thm-button {
    background: #cc291c;
    color: #fff;
}

.footer-quote {
    background: #ffffff;
}

.thm-container a.thm-button:hover {
    background: #cc291c !important;
    color: #fff;
}

.footer .social li a:hover {
    color: #ffffff;
    border-color: #ffffff;
    background: #d52b1e;
}

.footer2 .tel-box .icon-box i {
    color: #fffdda;
}

.footer .tel-box .text-box h4 {
    color: #d52b1e;
}

.footer .title .decor-line, .footer .title2 .decor-line {
    background: #cc291c;
}

.logo img {
    max-height: 45px;
}

.footer-widget img {
    max-height: 50px;
}

.logo-menu img {
    max-height: 34px;
}

.stellarnav > ul > li > a {
    padding: 23px 16px;
    color: #fff !important;
}

header, #main-nav {
    background: #333;
}

.stellarnav.light > li > a {
    color: #333;
}

header .logo {
    padding-top: 10px;
}

.stellarnav li.has-sub > a:after,
.stellarnav li li.has-sub > a:after {
    display: none;
}

.mobile-logo {
    display: none;
}

@media (max-width: 1025px) {
    header .mobile-logo {
        padding-top: 0;
        position: relative;
        top: -22px;
        max-width: 195px;
    }

    .stellarnav.mobile .menu-toggle {
        display: inline;
        position: relative;
        left: 91%;
        top: 28px;
    }

    .mobile-logo {
        display: block;
    }

    .top-logo {
        display: none;
    }

    .stellarnav.mobile > ul > li {
        background: #d52b1e;
    }
}

.menu-toggle i {
    color: #fff;
}

.top-logo a {
    display: block;
    margin-top: 7px;
}

@media (min-width: 1025px) {
    .stellarnav.light ul ul li a:hover {
        background: #cf2a1e;
        color: #fff;
    }

    .hover > a {
        background: #cf2a1e;
        color: #fff !important;
    }

    .stellarnav > ul {
        text-align: left;
        padding-left: 40px;

    }
}

.min-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    animation: fadeItIn 1s;
}

/*************************
        contact popup
*************************/
#contact-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-content {
    padding: 25px;
    width: 300px;
    height: 100%;
    background: #2f3742;
    position: fixed;
    top: 0;
    right: -300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    z-index: 9999;
}

.contact-content.show-contact {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px) tranlateZ(0);
    -ms-transform: translateX(-300px) tranlateZ(0);
    transform: translateX(-300px) tranlateZ(0);
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

.contact-toggle {
    position: fixed;
    bottom: 20px;
    right: 35px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    z-index: 9999;
}

.contact-toggle span {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.17);
    background: #d42a1d;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 28px;
    display: block;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.no-touch .contact-toggle span:hover {
    color: #ffffff;
}

.contact-toggle span.ti-comments {
    color: #ffffff;
}

.contact-toggle span.ti-comments:hover {
    color: #ffffff;
}

.contact-toggle.show-contact {
    bottom: 12px;
    right: 12px;
}

/*contact-form*/

input {
    background: transparent;
    border: none;
    height: 45px;
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
}

input:focus {
    background: transparent;
    box-shadow: 0 0 17px 0 #ebebeb;
}

textarea {
    resize: vertical;
    background: transparent;
    width: 100%;
    padding: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 14px;
}

textarea:focus {
    background: transparent;
    box-shadow: 0 0 17px 0 #ebebeb;
    outline: none !important;
}

.contact-form {
    position: relative;
    height: 100%;
}

.contact-form h4 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px;
}

.contact-form p {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 13px;
}

.contact-form input {
    padding-left: 15px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #464e5a;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: none;
}

.contact-form input:focus {
    box-shadow: none;
    border: 1px solid #d42a1d;
}

.contact-form textarea {
    padding-left: 15px;
    background: transparent;
    border: 1px solid #464e5a;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
    overflow: hidden;
}

.contact-form textarea:focus {
    box-shadow: none;
    border: 1px solid #d42a1d;
}

.contact-form a.button-small {
    border-radius: 3px;
    background: #464e5a;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: block;
    cursor: pointer;
}

.contact-form a.button-small:hover {
    background: #07cb79;
}

#formmessage {
    display: none;
}

#ajaxloader {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.contact-form input{
    height: 40px;
}
.contact-form input[type="submit"]{
    width: 37%;
    background: #d42a1d;
    padding: 0;
}


.about-us p{
    font-size: 17px;
}
.technology p{
    margin-bottom: 5px;
}
.nk-nav-table img{
    max-width: 120px;
}

.progress-summery .progress-steps{
    display: inline-block;
    position: relative;
    right: -28px;
    margin-bottom: 20px;
    width: 100%;
}
.progress-summery li.steps-item{
    -webkit-transition: background-color, .08s ease-out 0s;
    display: block;
    float: left;
    transition: background-color, .08s ease-out 0s;
    background-color: #ecedef;
    height: 55px;
    text-align: left;
    text-decoration: none;
    width: 17%;

}
.progress-summery li{
    padding: 0px;
    font-size: 17px;
    padding-left: 10px;
    position: relative;
    margin-right: 32px;
}
.progress-summery .steps-item.active {
    background-color: #a08d7c;
}
.steps-item a {
    padding: 16px 0;
    display: block;
    text-decoration: none;
    border: none;
    font-family: "Montserrat", sans-serif;

    color: #333;
}
.active a {
    color: #fff;
}
.progress-summery .steps-item.active:before {
    border-top-color: #dd163b !important;
    border-right-color: #dd163b !important;
    border-bottom-color: #dd163b !important;
}
.progress-summery .steps-item:before {
    left: -7px;
    margin-top: 0;
    top: 0;
    border-color: #313d46 #313d46 #313d46 transparent;
    -webkit-transition: background-color, .08s ease-out 0s;
    position: absolute;
    transition: background-color, .08s ease-out 0s;
    border-width: 24px 0 24px 18px;
    border-style: solid;
    content: "";
}
.progress-summery .steps-item.active:after {
    border-left-color: #dd163b !important;
}
.progress-summery .steps-item:after {
    top: 0;
    right: -21px;
    border-color: transparent transparent transparent #313d46;
    -webkit-transition: background-color, .08s ease-out 0s;
    position: absolute;
    transition: background-color, .08s ease-out 0s;
    border-width: 24px 0 24px 21px;
    border-style: solid;
    content: "";
}
.nk-tabs .nav-tabs .nav-link:focus, .nk-tabs .nav-tabs .nav-link:hover{
    background-color: #313d46;
}
.nk-tabs .nav-tabs.nav-tabs-fill {
    margin: -10px -30px;
}
.nk-tabs .nav-tabs.nav-tabs-fill .nav-item {
    margin: 10px 8px;
}
.lang a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 14px;
}
.lang a:hover{
    color: #dd163b;
}
.footer-email{
    padding-top: 15px;
}
.apple-img{
    max-width: 60px;
}
.play-img{
    max-width: 43px;
    padding-left: 5px;
}
/*//////////////////////////////////*/
.nk-news-box .uk-subnav{
    display: block;
}
.uk-tab > .uk-active > a{
    background: #d42a1d  !important;
    color:#ffffff !important;
}
.nk-news-box .media img {
    width: 100px !important;
    height: 84px;
}
.nk-news-box .uk-tab-left a{
    border: none;
    border-bottom: 1px solid #313d46 !important;
    border-right: 1px solid #313d46 !important;
}
.nk-news-box .uk-tab > * > a{
    border-bottom: 1px solid #313d46 !important;
    border-right: 1px solid #313d46 !important;
    padding: 10px;
    background: #333;
    color: #fff;
    text-align: left;
}
.nk-news-box .uk-tab{
    display: block;
}
.nk-news-box .uk-tab::before{
    border: none;
}
.nk-news-box .uk-tab-left::before{
    border: none;
}
.nk-news-box .media h3 {
    font-size: 1.1rem;
    margin-bottom: 2px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nk-news-box .media p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 14px;
    width: 100%;
}
.nk-news-box .date-box{
    padding-top: 8px;
}
.nk-news-box ul.overflow-y{
    overflow-y: scroll;
    height: 425px;
    overflow-x: hidden;
}
.nk-news-box .uk-grid-small{
    height: 100%;
}
.nk-news-box .item-image{
    padding-top: 40.2%;
    background-size: cover;
    background-position: center center;
    margin: 0px -20px 20px;
}
#component-tab-left{
    text-align: left;
}
.tweeter-img{
    max-width: 45px;
}
@media only screen and (min-width : 768px) {
    .pading-0{
        padding: 0;
    }
}
@media only screen and (max-width : 768px) {
    .nk-news-box ul.overflow-y{
        height: 320px;
    }
}
/*
 *  scroll style
 */

.style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, .4);
}

.style-3::-webkit-scrollbar
{
    width: 6px;
    background-color: #fff;
}

.style-3::-webkit-scrollbar-thumb
{
    background-color: #555;
}

.news .media img{
    float: left;
}
.news .media-body{
    width: 60%;
    float: left;
    padding-left: 20px;
}
.item-content{
    padding: 10px;
}
.about-company-history ul.list-box li {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    color: #d42a1d;
    font-style: normal;
    padding-top: 10px;
}
/*Start top-bar section*/
.top-bar{
    background-color: #fff !important;
}
.top-bar a{
color: #222222;
}
.top-bar ul{
    margin: 0;
    padding: 4px 0;
}
/*End top bar section*/
.top-bar ul li:not(:last-child):after{
    content: "";
    height: 12px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -1px;
    width: 1px;
    background: #9d9d9d;
}
button.log{
    border: 0;
    background-color: #333;
    padding: 3px 12px 5px;
    border-radius: 3px;
    color: #fff;
    outline: none;
}
.req{
    color: #d42a1d;
}
.modal label{
    font-size: 14px;
    font-weight: 500;
}
.contact-section .contact-form input,
.contact-section .contact-form textarea{
    background: #fff;
    color: #333;
}
.thm-button.inverse{
    background:#d42a1d ;
    color: #fff;
}
.thm-button.inverse:hover{
    background: #333;
}
.contact-info-box .icon-box i{
    color: #d42a1d;
    border: 1px solid #d42a1d;
}
.single-service-box h3{
    font-size: 21px;
}
.service-single-page .single-service-box ul.list-box li{
    line-height: 20px;
    color: #222;
}
.faq-page .accordion .panel-collapse .inner-box ul li{
    float: none;
}
.faq-page .accordion .panel-collapse .inner-box {
    padding: 12px 0;
}
.popup-client span,
.acc-button span{
    background-color:#d42a1d ;
    color: #fff;
    font-size: 14px !important;
}
.name-acc ul.dropdown-menu{
    right: 0;
    left: auto;
    text-align: center;
}
.name-acc .btn{
    background-color: #d42a1d;
    color: #fff;
}
.name-acc{
    margin-top: 15px;
}
.popup-client > span,
.acc-button > span{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    color: #ffffff;
    float: left;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.3px;
    padding: 9px 24px;
    cursor: pointer;
}
.popup-client .fa-user,
.acc-button .fa-user{
    display: inline;
    font-size: 16px;
    margin-right: 4px;
}
.popup-client,
.acc-button{
    margin-top: 13px;
}
.acc-button > span{
    border-radius: 3px;
}
@media only screen and (min-width : 1026px) {
    /*.contact-toggle{*/
        /*bottom: auto;*/
        /*top: 45px;*/
        /*right: 125px;*/
    /*}*/
    /*.min-fixed .contact-toggle{*/
        /*top:11px;*/
    /*}*/
    /*.contact-toggle span{*/
        /*border-radius: 4px;*/
        /*height: 45px;*/
        /*line-height: 43px;*/
    /*}*/
}

.account-popup-sec.active{
    opacity: 1;
    visibility: visible;
}
.account-popup-sec {
    background: rgba(20, 20, 20, 0.81) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999;
}
.account-popup-area {
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 100%;
}
.close-popup{
    background:#d42a1d ;
    color: #fff;
    transition: all 0.5s;
}
.close-popup:hover{
    background: #222;
}
.red-color{
    color:#d42a1d !important;
}
.account-popup {
    background: #ffffff none repeat scroll 0 0;
    position: relative;
    left: 50%;
    margin-top: 70px;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    width: 480px;
}
.account-popup > .row {
    margin: 0;
}
.account-popup > .row > div {
    padding: 0;
}
.account-user {
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    float: left;
    height: 100%;
    padding: 135px 65px;
    position: relative;
    width: 100%;
    z-index: 0;
    text-align: center;
}
.account-user::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.44;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}
.account-user .logo {
    display: inline-block;
    float: none;
    margin-bottom: 40px;
    padding: 0;
}
.account-user > p {
    color: #cfcfcf;
    float: left;
    width: 100%;
}
.account-user > form {
    float: left;
    width: 100%;
}
.account-user > form > h4 {
    color: #ffffff;
    float: left;
    font-family: Nunito;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
    width: 100%;
}
.account-user .field {
    float: left;
    width: 100%;
    margin: 0;
}
.account-user .field input[type="text"], .account-user .field input[type="password"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    float: left;
    font-family: Nunito;
    font-size: 15px;
    height: 58px;
    margin-top: 16px;
    padding: 0 30px;
    width: 100%;
    margin-bottom: 0;
}
.account-user > form input.flat-btn {
    display: inline-block;
    float: none;
    font-size: 14px;
    margin-top: 30px;
    padding: 15px 30px;
    background: #d42a1d;
}
.account-user > i {
    color: #c8c8c8;
    float: left;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 40px;
    margin-top: 48px;
    width: 100%;
}
.account-user > span {
    color: #c8c8c8;
    float: left;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 30px;
    width: 100%;
}
.account-user > .social-btns {
    display: inline-block;
    float: left;
    width: 100%;
}
.account-user > .social-btns > li {
    display: inline-block;
    float: none;
    margin: 0;
}
.registration-sec {
    float: left;
    padding: 120px 66px;
    text-align: center;
    width: 100%;
}
.registration-sec > h3 {
    color: #282828;
    float: left;
    font-family: Nunito;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 17px;
    text-transform: uppercase;
    width: 100%;
}

.close-popup {
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}
.close-popup:hover{
    background: #444444;
}
.registration-sec .field {
    float: left;
    width: 100%;
}
.registration-sec .field input[type="text"], .registration-sec .field input[type="password"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 3px solid rgba(0, 0, 0, 0.1);
    color: #666666;
    float: left;
    font-family: Nunito;
    font-size: 15px;
    height: 58px;
    margin-top: 16px;
    padding: 0 30px;
    width: 100%;
}
.registration-sec > form input.flat-btn {
    display: inline-block;
    float: none;
    font-size: 14px;
    margin-top: 30px;
    padding: 15px 30px;
    background: #d42a1d;
}
html.no-scroll {
    overflow: hidden;
}
.registration-sec .field > label {
    color: #747474;
    float: left;
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 27px;
}
.registration-sec .field > label > input {
    margin-right: 5px;
}
.registration-sec form > label {
    color: #747474;
    float: left;
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: left;
}
.registration-sec form > label > input {
    margin-right: 5px;
}
.flat-btn{
    width: 120px;
    padding: 0 !important;
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;

    background-color: #d42a1d;
    color: white;

    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

.buttonDownload:hover {
    background-color: #333;
    color: white;
}

.buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 1px;
    margin-top: -7px;

    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;

    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #d42a1d;
}

.buttonDownload:hover:after {
    border-top-color: #d42a1d;
    animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0;
    }
}
.attachments{
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px;
}
.attachments h3{
    font-size: 18px;
    color: #454545;
}
.style-home-page3.header3-inn .bg-header3-inn{
    min-height: 243px;
}
.style-home-page3.header3-inn .inner-banner{
    padding: 60px 0 60px 0;
}
a.red-color{
    font-size: 30px;
}
.d-block{
    display: block !important;
}
.d-inline-block{
    display: inline-block !important;
}
a.blue-color{
    color: #f0ae1e;
    font-weight: bolder;
    font-size: 17px;
}
.account-user p.d-inline-block{
    color: #fff;
}
.reg .tab-content{
    background: #f0f0f0;
}
.number{
    position: relative;
    top: 40px;
    left: -18px;
}
.m-l-12{
    margin-left: -12px
}
.reg input{
    background: #fff;
    color: #333;
}
.space-25{
    display: block;
    margin-top: 25px;
}
.product-tab-box .tab-content h3{
    color: #333;
    font-weight: 600;
}
sup.required{
    color: #ce0000;
}
#personalReg .form-grp,
#businessReg .form-grp{
    height: 80px;
}
#personalReg label,
#businessReg label{
    margin-bottom: 2px;
}
label.error{
    color: #ce0000 !important;
    font-size: 12px !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #d42a1d;
    border-color: #d42a1d;
}
.pagination>li>a,
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #d42a1d;
}
.name-acc .btn:first-child{
    width: 69px;
    overflow: hidden;
}
/* ==========================================================================
 	Ad Profile
 ========================================================================== */

.ad-profile {
    background-color: #fff;
    overflow: hidden;
    padding:0;
}

.user-profile {
    overflow: hidden;
    padding: 0 25px;
}

.user-images {
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    border: 1px solid #fcfcfc;
}

.favorites-user {
    float: right;
}

.ad-profile .user {
    float: left;
}

.ad-profile .user h2 {
    font-weight: 300;
    color: #2a2a2a;
    margin-top: 30px;
}

.ad-profile .user h2 a {
    font-weight: 700;
    color: #00a651;
}

.ad-profile .user h5 {
    color: #9fa4a4;
    font-size: 16px;
}

.ad-profile .my-ads,
.ad-profile .favorites {
    float: left;
    padding: 30px 40px;
    text-align: center;
    border-left: 1px solid #f5f5f5;
}

.ad-profile .my3-ads {
    padding: 30px 55px;
}

.ad-profile .favorites-user small {
    display:block;
    font-size: 16px;
    color: #000;
    line-height: 0;
}

.ad-profile .favorites-user a {
    font-size: 16px;
    color: #fff;
    display: block;
    background-color: #d42a1d;
    padding: 10px 24px;
    border-radius: 4px;
    transition: all 0.5s;
}
.ad-profile .favorites-user a:hover{
    background-color: #333;
}
.favorites i{
    padding-left: 3px;
}
.ad-profile .favorites-user small:hover {
    color: #00a651;
}

.ad-profile .user-menu {
    border-top: 1px solid #f5f5f5;
}

.ad-profile .user-menu li{
    padding: 15px 20px;
    float: left;
    border: 1px solid #f5f5f5;
}
.ad-profile .user-menu li.active{
    border-bottom:0 ;
}
.ad-profile .user-menu{
    margin-left:0 !important; ;
}

.ad-profile .user-menu li a {
    color: #9fa4a4;
    font-size: 16px;
}

.ad-profile .user-menu li.active a,
.ad-profile .user-menu li a:hover {
    color: #d42a1d;
}

.user-pro-section .section {
    padding: 15px 35px;
}
.Account .profile{
    background-color: #f8f8f8;
    padding: 0 5%;
}
.user-pro-section select,
.user-pro-section input {
    color: #a0a0a0;
    font-size: 16px;
    height:43px;
}

.user-pro-section .form-group {
    overflow:hidden;
    margin-bottom:20px;
}

.user-pro-section label {
    display: block;
    font-weight:400;
    color:#000;
    font-size:16px;
}

.user-pro-section .form-control {
    width:100%;
}

.user-pro-section .preferences-settings label,
.user-pro-section .preferences-settings .form-control {
    float:none;
    width:100%;
    margin:5px 0;
    font-size:14px;
}

.user-pro-section h2 {
    margin-bottom: 30px;
    font-weight: 300;
    color: #000;
    text-transform:capitalize;
}

.user-pro-section .preferences-settings h2 {
    margin-bottom:15px;
}

.profile a.btn,
.buttons a.btn {
    background-color: #00a651;
    color: #fff;
    padding: 6px 26px 7px;
    border: 1px solid #00a651;
    margin: 9px 0 0;
    margin-bottom: 30px;
}

.ad-profile-page .buttons a.btn {
    margin-bottom: 0;
}

.profile a.btn.cancle,
.buttons a.btn.cancle {
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    margin-left: 10px;
}

.profile a.btn:hover,
.buttons a.btn:hover {
    background-color: transparent;
    color: #00a651;
    border: 1px solid #00a651;
}


#minimal-bootstrap-carousel .carousel-inner,
#minimal-bootstrap-carousel{
    height: calc(100vh - 60px);
}
.user span{
    color: #d42a1d;
}
.custom-red-buttom{
    background-color:#d42a1d ;
    color: #fff;
    transition: all 0.5s ;
}
.custom-red-buttom:hover {
    background-color: #333;
    color: #fff;
}
.contact-section form.contact-form select{
    height: 45px;
    box-shadow: none;

}
.contact-section form.contact-form select:focus{
    border-color: #d42a1d;
}
h3.Dependence{
    color: #000;
    font-size: 20px;
}
.table-foldersystem tbody tr td:first-child{
    width:1%;
}
.ac-status{
    color: #28cd3d;
}
.End-status{
    color:#d42a1d ;
}
.file-caption{
    height: 40px;
}
.btn-file{
    height: 40px;
    line-height: 28px;
    background-color: #d42a1d;
    border-color: transparent;
    transition: all 0.5s;
}
.btn-file:hover{
    background-color: #333;
}
.red-select:focus{
    border-color: #d42a1d;
}

.file-caption .file-caption-name{
    margin-top: -8px;
}
.team-carousel img.team-img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
}
.single-project-item .img-holder img{
    height: 230px;
}
.owl-nav .owl-next{
    position: absolute;
    right: 0;
    top: 40%;
}
.owl-nav .owl-prev{
    position: absolute;
    left: 0;
    top: 40%;
}
.sec-pad:hover .decor-line{
width: 100px;
}
.about-section img{
    width: 100%;
}
.footer .links-widget ul li a{
    transition: all 0.5s;
}
.footer .links-widget ul li a:hover{
    padding-left: 5px;
}
.links-widget:hover .decor-line{
    width: 80px;
}
.decor-line{
    transition: all 0.5s;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #d42a1d;
    color: #FFF;
    text-decoration: none;
}
.why-choose-us img{
    width: 100%;
}
.single-service-box .img-box img{
    width: 100% !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #d42a1d;
}
.single-service-item img{
    height: 160px;
}
@media (max-width: 480px){
    .flat-btn {
        border: 1px solid transparent;
        color: #fff;
        float: left;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: bold;
        padding: 13px 21px;
    }
}

@media (max-width: 480px){
    .account-user {
        padding: 110px 35px;
    }
}
@media (max-width: 1024px){
    .name-acc {
        margin-top: 22px;
    }
}
@media (max-width: 479px){
    .ad-profile .user {
    width: 100%;
}
    .favorites-user {
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .ad-profile {
        position: relative;
    }
    .user-profile{
        margin-bottom: 15px;
    }
    .ad-profile .favorites{
        padding: 26px 7px;
    }
    .ad-profile .favorites-user a{
        padding: 10px 21px;
        font-size: 15px;
    }
}
@media (max-width: 767px){
    .favorites-user {
        float: right;
        padding-bottom: 20px;
    }

}
@media (min-width: 767px){
    .dependence input{
        width: 100% !important;
    }
}
@media (min-width: 992px){
    .ad-profile .favorites{
        padding: 33px 13px;
    }
}
.categories_list a > span {
    display: block;
    width: 23px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11.5px;
}
.rating_list li.active .empty, .close_fieldset, .select_color i, .categories_list .active > a > span:before, .categories_list a > span:after, .hide, #go_to_top.type_2.animate_ftl, .a_title.active .plus_icon, .a_title .minus_icon {
    opacity: 0;
}
.categories_list a > span:before, .categories_list a > span:after {
    margin-left: -5px;
}
.categories_list a > span:before, .categories_list a > span:after {
    content: "";
    width: 9px;
    height: 9px;
    background: url(../images/plusminus.png) no-repeat;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -4px;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.categories_list a > span:after {
    height: 1px;
    width: 8px;
    background-position: 0 -9px;
    margin: -1px 0 0 -4px;
    background: #333;
    opacity: 1;
}
.bg_light_color_1, .sub_menu li:hover > a, .select_list > li:hover, .p_list > li:nth-child(2n+1), .info_block_type_1:hover [class*="icon_wrap"] {
    background: #ecf0f1;
}
.categories_list{
    margin-top:-7px;
}
.categories_list a{
    padding:7px 25px 7px 0;
    border-bottom:1px solid #ecf0f1;
    word-break:break-all;
}
.categories_list > li:last-child > a{
    padding-bottom:0px;
}
.categories_list ul > li > a{
    padding-left:20px;
}
.categories_list ul ul > li > a{
    padding-left:40px;
}
.categories_list a > span{
    display:block;
    width:23px;
    height:23px;
    line-height: 23px;
    position:absolute;
    right:13px;
    border-radius: 5px;
    top:50%;
    margin-top:-11.5px;
}
.categories_list a > span:before,.categories_list a > span:after{
    content:"";
    width: 9px;
    height: 8px;
    background:url("../images/plusminus.png") no-repeat;
    position: absolute;
    display:block;
    top:50%;
    left:50%;
    margin:-5px 0 0 -4px;
    -webkit-transition:opacity .4s ease;
    -moz-transition:opacity .4s ease;
    -o-transition:opacity .4s ease;
    transition:opacity .4s ease;
}
.categories_list a > span:after{
    height:1px;
    width:8px;
    background-position: 0 -9px;
    margin:-1px 0 0 -4px;
}
@media only screen and (-webkit-min-device-pixel-ratio:0){
    .categories_list a > span:before,
    .categories_list a > span:after{
        margin-left:-5px;
    }
    #lang_button > img{
        margin-top:-1px;
    }
    .flexslider:not(.simple_slide_show) .slides img,
    .progress_bar > div{
        -webkit-border-radius:4px;
        border-radius:4px;
    }
    .flexslider.portfolio .slides img{
        -webkit-border-radius:0px;
        border-radius:0px;
    }
    .widget figcaption,.a_title{
        -webkit-border-radius:4px 4px 0 0;
        border-radius:4px 4px 0 0;
    }
    .button_type_14 > i[class^="fa "]{
        margin-top:1px;
    }
}
.single-sidebar-widget .single-service-list-widget ul{
    padding: 5px;
}
.categories_list ul{
    display: none;
}
.categories_list li.active ul{
    display: block !important;
}
.add-feed-back button{
    font-size: 17px;
    background-color: #d42a1d;
}

#countdown{
    width: 465px;
    height: 157px;
    text-align: center;
    background: #222;
    background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
    background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
    background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
    background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 24px 0;
    position: absolute;
    top: 165px; bottom: 0; left: 0; right: 0;
}

#countdown:before{
    content:"";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
    background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
    background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    position: absolute;
    top: 48px; left: -10px;
}

#countdown:after{
    content:"";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
    background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
    background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: block;
    position: absolute;
    top: 48px; right: -10px;
}

#countdown #tiles{
    position: relative;
    z-index: 1;
}

#countdown #tiles > span{
    width: 92px;
    max-width: 92px;
    font: bold 48px 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 18px 0;
    display: inline-block;
    position: relative;
}

#countdown #tiles > span:before{
    content:"";
    width: 100%;
    height: 13px;
    background: #111;
    display: block;
    padding: 0 3px;
    position: absolute;
    top: 41%; left: -3px;
    z-index: -1;
}

#countdown #tiles > span:after{
    content:"";
    width: 100%;
    height: 1px;
    background: #eee;
    border-top: 1px solid #333;
    display: block;
    position: absolute;
    top: 48%; left: 0;
}

#countdown .labels{
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px;
}

#countdown .labels li{
    width: 102px;
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #f47321;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
.testimonial-section{
    background: #353535;
    height: 418px;
}
@media (max-width: 767px){
    .account-popup {
        width: 98%;
    }
    #countdown{
        width: 328px;
    }
    .add-feed-back button {
        font-size: 14px;
        margin-top: 10px;
    }
}
.project-sec .faq-page{
    background: #f3f5f6;
}
.project-sec .faq-page .accordion .panel{
    background: #f3f5f6 ;
}
.project-sec .faq-page .accordion a[role=button]{
    background: #fff;
}
.project-sec .faq-page .accordion a[aria-expanded="true"] {
    background: #353543;
    color: #fff;
}
.project-sec .faq-page .inner-box{
    background: #fff;
}
.project-sec .faq-page ul.list-box li {
    line-height: 20px;
    color: #222;
}